/* Browser Size */
.wrapper{
    background-color: blue;
    display: inline-block;
    height: 1000px;
    width: 1200px;
}
.topHalf {
    background-color: red;
    display: inline-block;
    height: 50%;
    width: 100%;
    border: 1px solid black;
}
.bottomHalf{
    background-color: green;
    display: inline-block;
    height: 40%;
    width: 100%;
    border: 1px solid black;

}
.topBar{
    background-color: pink;
    display: inline-block;
    height: 60px;
    width: 100%;
    border: 1px solid black;
    
}
.textAndEmail{
    background-color: teal;
    display: inline-block;
    height: 300px;
    width: 100%;
    border: 1px solid black;
}
.checkAndText{
    background-color: yellow;
    display: inline-block;
    height: 100px;
    width: 100%;
    border: 1px solid black;
}
.bottomLeftSide{
    background-color: palegreen;
    display: inline-block;
    width: 40%;
    height: 100%;
    border: 1px solid black;

}
.bottomCenterLogo{
    background-color: yellowgreen;
    display: inline-block;
    width: 15%;
    height: 100%;
    border: 1px solid black;
}
.bottomRightSide{
    background-color: red;
    display: inline-block;
    width: 40%;
    height: 100%;
    border: 1px solid black;
}
.plainFooter{
    height: 10%;
    width: 100%;
    background-color: aqua;
    display: inline-block;
    border: 1px solid black;
}

